@{
    ViewBag.Title = ViewBag.nombrePage;
}
<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Agregar Actividada</h4>
            </div>
            <form action="#" id="form_actividades" autocomplete="off">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Nombre</label>
                        <div class="input-group">
                            <input id="txtActividad" name="nombre" type="text"
                                   class="form-control" placeholder="Actividad" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="mt-checkbox">
                            <input type="checkbox" id="chkMañana" value="Mañana"> Mañana
                            <span></span>
                        </label>
                        <label class="mt-checkbox">
                            <input type="checkbox" id="chkTarde" value="Tarde"> Tarde
                            <span></span>
                        </label>
                        <label class="mt-checkbox">
                            <input type="checkbox" id="chkNoche" value="Noche"> Noche
                            <span></span>
                        </label>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cerrar</button>
                <button id="agregarActividad" type="button" class="btn green">Agregar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-blue-hoki bold uppercase">Actualizar Estado Post Operatorio</span>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="horizontal-form">
            <div class="form-body">
                <div class="row">
                    <form id="form_buscar_paciente" class="form-group" autocomplete="off">
                        <label class="col-md-2 control-label">Historia Clínica</label>
                        <div class="col-md-3">
                            <input id="historiaClinica" name="documento" class="form-control" type="text" placeholder="Historia Clínica" />
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <button id="buscarxHistoria" class="btn btn-exclusive" type="submit">
                                    Buscar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <form id="form_datos_pacientexhc">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-1 control-label">Nombre</label>
                            <div class="col-md-3">
                                <input id="historiaClinica" name="cNomCompleto" class="form-control" type="text" placeholder="Nombre" disabled />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-1 control-label">Edad</label>
                            <div class="col-md-3">
                                <input id="edad" name="nEdad" class="form-control" type="text" placeholder="Edad" disabled />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-1 control-label">Sexo</label>
                            <div class="col-md-3">
                                <input id="sexo" name="cSexo" class="form-control" type="text" placeholder="Sexo" disabled />
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Subjetivo</label>
                            <textarea id="txtSubjetivo" name="subjetivo" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Objetivo</label>
                                <div class="col-md-10" align="right">
                                    <div class="input-group">
                                        <button id="obtenerDatos" class="btn btn-exclusive" type="submit">
                                            Obtener Datos
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped table-bordered table-hover order-column" id="tableNoPaging">
                                <thead>
                                    <tr>
                                        <th> Dato </th>
                                        <th> Valor </th>
                                        <th> Estado </th>
                                        <th> Rangos </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Apreciación diagnóstica/Evaluación</label>
                            <textarea id="txtAApreciacion" name="apreaciacion" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group" align="right">
                    <label class="col-md-9 control-label">Estado Paciente</label>
                    <div class="col-md-3">
                        <div class="mt-checkbox-inline">
                            <label class="mt-checkbox">
                                <input type="checkbox" id="chkEstable" value="1" disabled> Estable
                                <span></span>
                            </label>
                            <label class="mt-checkbox">
                                <input type="checkbox" id="chkRiesgoso" value="2" disabled> Riesgoso
                                <span></span>
                            </label>

                        </div>
                    </div>
                </div>
                <div class="form-actions right">
                    <button id="btnRegistrarSOAP" type="submit" class="btn btn-exclusive">
                        Registrar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
