@{
    ViewBag.Title = ViewBag.nombrePage;
}
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-blue-hoki bold uppercase">@ViewBag.nombrePage</span>
        </div>
    </div>
    <div class="portlet-body form">
        <div action="#" class="horizontal-form">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Documento Identificación</label>
                            <input type="text" id="documento" class="form-control" placeholder="Documento Identificación">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Estado Orden</label>
                            <select id="cboEstado" name="cboEstado" class="form-control">
                               
                            </select>
                        </div>
                    </div>
                    <div class="col-md-9">

                    </div>
                    <div class="col-md-3" align="right">
                        <div class="form-group">
                            <button id="btnConsultarOM" type="button" class="btn default">Consultar</button>
                            <a href="~/ointervencion/registraroi" class="btn btn-exclusive">
                                Registrar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END FORM-->

        <div class="portlet-body">
            <table class="table table-striped table-bordered table-hover order-column" id="tableNormal">
                <thead>
                    <tr>
                        <th class="novis"> IdOrden </th>
                        <th> Nro.Orden </th>
                        <th> Apellidos y Nombres </th>
                        <th> DNI </th>
                        <th> Sede </th>
                        <th> Tipo de Intervención </th>
                        <th> Fecha </th>
                        <th> Estado </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

    </div>
</div>