@{
    ViewBag.Title = ViewBag.nombrePage;
}
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-blue-hoki bold uppercase">Registro Orden de Intervención</span>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="horizontal-form">
            <div class="form-body">
                <div class="row">
                    <form id="form_buscar_paciente" class="form-group" autocomplete="off">
                        <label class="col-md-1 control-label">Documento</label>
                        <div class="col-md-3">
                                <input name="documento" class="form-control" type="text" placeholder="Documento" />
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">


                                <button id="genpassword" class="btn btn-exclusive" type="submit">
                                    Buscar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Apellido Paterno</label>
                            <input type="text" class="form-control" placeholder="Bazan" disabled>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Apellido Paterno</label>
                            <input type="text" class="form-control" placeholder="Tafur" disabled>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Nombres</label>
                            <input type="text" class="form-control" placeholder="Julio" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Historia Clínica</label>
                            <input type="text" class="form-control" placeholder="123456789123" disabled>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Fecha Naciemiento</label>
                            <input type="text" class="form-control" placeholder="12/12/1992" disabled>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Edad</label>
                            <input type="text" class="form-control" placeholder="Tafur" disabled>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Sexo</label>
                            <input type="text" class="form-control" placeholder="Masculino" disabled>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover order-column" id="tableNormal">
                        <thead>
                            <tr>
                                <th> Nro.Orden </th>
                                <th class="novis"> IdOrden </th>
                                <th> Tipo Intervención </th>
                                <th> Médico Tratante </th>
                                <th> Fecha Intervención </th>
                                <th> Acción </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="date-picker" data-date-format="mm/dd/yyyy"> </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Sede</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Zona</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Sala</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Hab.Reposo</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions right">
                <button type="button" class="btn default">Cancel</button>
                <button type="submit" class="btn btn-exclusive">
                    Registrar
                </button>
            </div>
        </div>
    </div>
</div>